#encoding UTF-8
##
## SABnzbd רעה עבור URL תבנית דוא״ל של משיכת
## זאת תבנית ברדלס
## http://sabnzbd.wikidot.com/email-templates :תיעוד
##
## !שורות חדשות ורווחים לבנים הם משמעותיים
##
## אלו כותרות הדוא״ל
$to :אל
$from :מאת
תאריך: $date
NZB נכשל במשיכת SABnzbd :נושא
## !אחרי זה בא הגוף, השורה הריקה דרושה

,היי

.$url מתוך NZB-נכשל לאחזר את ה SABnzbd
הודעת השגיאה הייתה: $msg

ביי
